.htaccess
clubber-mag.sublime-project
clubber-mag.sublime-workspace
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/w3tc-config.php
sitemap.xml
*.log
wp-content/cache/
sitemap.xml.gz
wp-config.php
nbproject/
backups/
/wp-content/plugins/all-in-one-wp-security-and-firewall/logs/
/wp-content/aiowps_backups/
/wp-content/themes/clubber-magazine/prueba/

/wp-content/plugins/core-control/
/wp-content/plugins/debug-*/
/wp-content/plugins/developer/
/wp-content/plugins/query-monitor/
/wp-content/plugins/rewrite-rules-inspector/
/wp-content/plugins/theme-check/
/wp-content/plugins/user-switching/
/wp-content/plugins/wpdevtool/

/wp-content/plugins/myMail/
/wp-content/plugins/admin-bar-toggle/

/.idea

/docker/volume/db/mysql
/docker/docker-compose.override.yml
/docker/.env