/site/wp-content/uploads/
/site/wp-content/blogs.dir/
/site/wp-content/upgrade/
/site/wp-content/backup-db/
/site/wp-content/advanced-cache.php
/site/wp-content/wp-cache-config.php
/site/wp-content/w3tc-config.php
sitemap.xml
*.log
/site/wp-content/cache/
sitemap.xml.gz

/backups
/site/wp-content/plugins/all-in-one-wp-security-and-firewall/logs/
/site/wp-content/plugins/all-in-one-wp-security-and-firewall/backups/
/site/wp-content/aiowps_backups/
/site/wp-content/themes/*
!/site/wp-content/themes/clubber-magazine/

/site/wp-content/plugins/core-control/
/site/wp-content/plugins/debug-*/
/site/wp-content/plugins/developer/
/site/wp-content/plugins/query-monitor/
/site/wp-content/plugins/rewrite-rules-inspector/
/site/wp-content/plugins/theme-check/
/site/wp-content/plugins/user-switching/
/site/wp-content/plugins/wpdevtool/

/site/wp-content/plugins/myMail/
/site/wp-content/plugins/admin-bar-toggle/

/.idea

/volume/db/mysql

/volume/db/dump/*
!/volume/db/dump/.gitkeep

/volume/logs/nginx/*
!/volume/logs/nginx/.gitkeep

/volume/uploads/*
!/volume/uploads/.gitkeep

/docker-compose.override.yml
/.env
