version: "3"
services:
    mariadb:
      restart: unless-stopped
#      volumes:
#        - ./volume/db/dump:/docker-entrypoint-initdb.d
#      ports:
#        - "3306:3306"

    webserver:
      restart: unless-stopped
      ports:
          - $WEBSERVER_PORT:80

    php:
      restart: unless-stopped
