
body {
    font-family: @font-family-base;
    /*font-size: @font-size-base;*/
    /*line-height: @line-height-base;*/
    color: #111;
    height:100%;
    width:100%;
    background: @body-bg-color;
}

#site { 
    width: 100%;
    max-width: 1400px;
    margin-top: 60px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0px 7px 13px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 7px 13px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 7px 13px 0px rgba(50, 50, 50, 0.75);
    background-color: @site-bg-color;
}

header#header{
    background:linear-gradient(0deg, @header-bg-end, @header-bg-start);
}


#content{
    margin: 0 auto;
    width: 98%;

    .has-sidebar{
        width: 100%;
        padding: 5px;
    }

    > aside{
        width: 100%;

    }
}

/*body.single-artist #content{*/
    /*width: 100%;*/
/*}*/

footer#footer{
    background-color: @footer-bg-color;
    padding: 10px 0;
    width: 100%;
    overflow: hidden;
    position: relative;
}
/*
#content .has-sidebar{
          width: 100%;
}

#content > aside{
      width: 100%;
}
.pagination a{
      color: #333;
}
*/
/*FOOTER*/

#branding{
    float:left;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 35px;
    
    h1{
        margin: 0;
        font-size: 0;
    }

    img{
        width: 140px;
    }

}

//for artists page
.home-featured-image{
    height: 220px;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: white;
    background-size: 100%;
    position: relative;
}

/*
.pager-date,
.menu-all-first-letter,
.menu-az {
    a{
        color: @sc-2;
    }
}
*/

// sm ≥ 568px 
@media screen and (min-width: 35.5em)
{
    .home-featured-image{
        height: 350px;
    }
}
// md ≥ 768px 
@media screen and (min-width: 48em)
{ 
    #site { 
        margin-top: 0px;
    }
    .home-featured-image{
        height: 450px;
    }
}
// lg ≥ 1024px
//sidebar on side
@media screen and (min-width: 64em)
{

    /*#content > main.has-sidebar{*/
    #content .has-sidebar{
        float: left;
        width: 73%;
    }

    #content > aside{
        float: left;
        width: 26%;
    }

}

.parallax{
    position: absolute;
}

#footer-parallax{
    width: 100%;
    bottom: 8;
}
#footer-parallax img{
    display: block;
    width: 12%;
    float: right;
    margin-right: 3%;
}
/*
#breadcrumbs span{
      color: #fff;
}

.bg-50{
      background-color: @section-bg-color;
}
*/
/*
.cm-title,
.cm-title2,
.cm-title3{
      .pl5;
      .pr5;
}
.cm-title{
      background-color: rgba(100,100,100,1);
      color: #fff;
}
.cm-title2{
      background-color: @cm-blue-color;
      color: #111;
}
.cm-title3{
      background-color: #fff;
      color: @cm-blue-color;
}
*/
/*

*/
/*
body.single-podcast{
      .the-content{
            p{
                  margin-top: 0.2em; 
                  margin-bottom: 0.2em; 
            }
      }
}
*/

