    .col-0{
        background-color: blueviolet;
    }


/* =Responsive Structure
----------------------------------------------- */
/* All Tablet Portrait size smaller than standard 1079 (devices and browsers) */
@media only screen and (max-width: 1078px) {

    .col-0{
        background-color: green;
    }

}



/* All Mobile Portrait size smaller than 768 (devices and browsers) */
@media only screen and (max-width: 767px) {

    .col-0{
        background-color: yellow;
    }

}

/* All Mobile landscape size and All Mini Tablet Portrait size smaller than standard 768 and larger than 480 (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {

    .col-0{
        background-color: blue;
    }

}


/* All Mobile size smaller than standard 320 (devices and browsers) */
@media only screen and (max-width: 319px) {
    .col-0{
        background-color: red;
    }
}
