.nz-debug{
    position: absolute;
    margin-left: auto;  margin-right: auto;
    left: 0;    right: 0;    top: 45px;
    height: 40px;   width: 150px;
}
.nz-debug{
    background-color: blueviolet;
}
.nz-debug::before{
    content: 'DEFAULT';
}

/* =Responsive Structure
----------------------------------------------- */
/* All Tablet Portrait size smaller than standard 1079 (devices and browsers) */
@media only screen and (max-width: 1078px) {

    .nz-debug{
        background-color: green;
    }
    .nz-debug::before{
        content: 'max-width: 1078px';
    }

}



/* All Mobile Portrait size smaller than 768 (devices and browsers) */
@media only screen and (max-width: 767px) {

    .nz-debug{
        background-color: yellow;
    }
    .nz-debug::before{
        content: 'max-width: 767px';
    }
}

/* All Mobile landscape size and All Mini Tablet Portrait size smaller than standard 768 and larger than 480 (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {

    .nz-debug{
        background-color: blue;
    }
    .nz-debug::before{
        content: '(min-width: 480px) and (max-width: 767px)';
    }

}


/* All Mobile size smaller than standard 320 (devices and browsers) */
@media only screen and (max-width: 319px) {
    .nz-debug{
        background-color: red;
    }
    .nz-debug::before{
        content: 'max-width: 319px';
    }
}
