section{
    background-color: #99CCFF !important;
}
article{
    background-color: #73FF73 !important;
}
header{
    background-color: #FFB399 !important;
}
li{
    /*border: solid 1px red;*/
}

/* =Responsive Structure
----------------------------------------------- */
/* All Tablet Portrait size smaller than standard 1079 (devices and browsers) */
@media only screen and (max-width: 1078px) {
   
}



/* All Mobile Portrait size smaller than 768 (devices and browsers) */
@media only screen and (max-width: 767px) {

}

/* All Mobile landscape size and All Mini Tablet Portrait size smaller than standard 768 and larger than 480 (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {


}


/* All Mobile size smaller than standard 320 (devices and browsers) */
@media only screen and (max-width: 319px) {

}
