<?xml version="1.0" encoding="UTF-8"?>
<types>
    <groups>
        <group>
            <ID>471</ID>
            <post_content>Youtube video URL</post_content>
            <post_title>Video</post_title>
            <post_excerpt></post_excerpt>
            <post_type>wp-types-group</post_type>
            <post_status>publish</post_status>
            <meta>
                <_wp_types_group_filters_association>any</_wp_types_group_filters_association>
                <_wp_types_group_fields>,youtube-video-url,</_wp_types_group_fields>
                <_wp_types_group_post_types>,video,</_wp_types_group_post_types>
                <_wp_types_group_terms>all</_wp_types_group_terms>
                <_wp_types_group_admin_styles></_wp_types_group_admin_styles>
                <_wp_types_group_templates>all</_wp_types_group_templates>
                <_wpcf_conditional_display>a:2:{s:8:&quot;relation&quot;;s:3:&quot;AND&quot;;s:6:&quot;custom&quot;;s:0:&quot;&quot;;}</_wpcf_conditional_display>
            </meta>
            <hash>ded7387fc33a268b4fe446e527bcb141</hash>
            <checksum>ded7387fc33a268b4fe446e527bcb141</checksum>
            <__types_id>video</__types_id>
            <__types_title>Video</__types_title>
        </group>
        <group>
            <ID>470</ID>
            <post_content>Datos del evento</post_content>
            <post_title>Evento</post_title>
            <post_excerpt></post_excerpt>
            <post_type>wp-types-group</post_type>
            <post_status>publish</post_status>
            <meta>
                <_wp_types_group_filters_association>any</_wp_types_group_filters_association>
                <_wp_types_group_fields>,event_begin_date,event_end_date,event_price,event_price_conditions,event_place_name,event_place_address,event_flyer_back,event_type,event_promoter,event_email_confirmation,event_rrpp,event_displayed,</_wp_types_group_fields>
                <_wp_types_group_post_types>,event,</_wp_types_group_post_types>
                <_wp_types_group_terms>all</_wp_types_group_terms>
                <_wp_types_group_admin_styles></_wp_types_group_admin_styles>
                <_wp_types_group_templates>all</_wp_types_group_templates>
                <_wpcf_conditional_display>a:2:{s:8:&quot;relation&quot;;s:3:&quot;AND&quot;;s:6:&quot;custom&quot;;s:0:&quot;&quot;;}</_wpcf_conditional_display>
            </meta>
            <hash>8ac14cd30c7da1ec87dba74621a93949</hash>
            <checksum>8ac14cd30c7da1ec87dba74621a93949</checksum>
            <__types_id>evento</__types_id>
            <__types_title>Evento</__types_title>
        </group>
    </groups>
    <fields>
        <field>
            <id>youtube-video-url</id>
            <name>Youtube video url</name>
            <description>Link youtube video</description>
            <type>url</type>
            <slug>youtube-video-url</slug>
            <data>
                <repetitive>0</repetitive>
                <validate>
                    <required>
                        <active>1</active>
                        <value>true</value>
                        <message>Este campo es obligatorio</message>
                    </required>
                    <url>
                        <active>1</active>
                        <message>Introduzca una dirección URL válida</message>
                    </url>
                </validate>
                <conditional_display>
                    <relation>AND</relation>
                    <custom></custom>
                </conditional_display>
                <disabled_by_type>0</disabled_by_type>
            </data>
            <meta_key>wpcf-youtube-video-url</meta_key>
            <meta_type>postmeta</meta_type>
            <__types_id>youtube-video-url</__types_id>
            <__types_title>Youtube video url</__types_title>
            <hash>dba7b55d9dfce707431ca5a11e862341</hash>
            <checksum>dba7b55d9dfce707431ca5a11e862341</checksum>
        </field>
        <field>
            <id>begin_date</id>
            <name>Fecha inicio</name>
            <description></description>
            <type>date</type>
            <slug>begin_date</slug>
            <data>
                <date_and_time>and_time</date_and_time>
                <repetitive>0</repetitive>
                <validate>
                    <required>
                        <active>1</active>
                        <value>true</value>
                        <message>Este campo es obligatorio</message>
                    </required>
                    <date>
                        <active>1</active>
                        <format>mdy</format>
                        <pattern>check.format</pattern>
                        <message>Introduzca una fecha válida</message>
                    </date>
                </validate>
                <is_new>1</is_new>
                <disabled_by_type>0</disabled_by_type>
            </data>
            <meta_key>wpcf-begin_date</meta_key>
            <meta_type>postmeta</meta_type>
            <__types_id>begin_date</__types_id>
            <__types_title>Fecha inicio</__types_title>
            <hash>a84e42f943fab0971cb021964062e40d</hash>
            <checksum>a84e42f943fab0971cb021964062e40d</checksum>
        </field>
        <field>
            <id>event_begin_date</id>
            <name>Fecha inicio</name>
            <description></description>
            <type>date</type>
            <slug>event_begin_date</slug>
            <data>
                <date_and_time>and_time</date_and_time>
                <repetitive>0</repetitive>
                <validate>
                    <required>
                        <active>1</active>
                        <value>true</value>
                        <message>Este campo es obligatorio</message>
                    </required>
                    <date>
                        <active>1</active>
                        <format>mdy</format>
                        <pattern>check.format</pattern>
                        <message>Introduzca una fecha válida</message>
                    </date>
                </validate>
                <conditional_display>
                    <relation>AND</relation>
                    <custom></custom>
                </conditional_display>
                <disabled_by_type>0</disabled_by_type>
            </data>
            <meta_key>wpcf-event_begin_date</meta_key>
            <meta_type>postmeta</meta_type>
            <__types_id>event_begin_date</__types_id>
            <__types_title>Fecha inicio</__types_title>
            <hash>dfe102e37bba1f1c033222b1c71e871f</hash>
            <checksum>dfe102e37bba1f1c033222b1c71e871f</checksum>
        </field>
        <field>
            <id>event_end_date</id>
            <name>Fecha termino</name>
            <description></description>
            <type>date</type>
            <slug>event_end_date</slug>
            <data>
                <date_and_time>and_time</date_and_time>
                <repetitive>0</repetitive>
                <validate>
                    <date>
                        <active>1</active>
                        <format>mdy</format>
                        <pattern>check.format</pattern>
                        <message>Introduzca una fecha válida</message>
                    </date>
                </validate>
                <conditional_display>
                    <relation>AND</relation>
                    <custom></custom>
                </conditional_display>
                <disabled_by_type>0</disabled_by_type>
            </data>
            <meta_key>wpcf-event_end_date</meta_key>
            <meta_type>postmeta</meta_type>
            <__types_id>event_end_date</__types_id>
            <__types_title>Fecha termino</__types_title>
            <hash>b025f633eca79fd04717dbdac618f6dd</hash>
            <checksum>b025f633eca79fd04717dbdac618f6dd</checksum>
        </field>
        <field>
            <id>event_price</id>
            <name>Precio</name>
            <description></description>
            <type>numeric</type>
            <slug>event_price</slug>
            <data>
                <repetitive>0</repetitive>
                <validate>
                    <number>
                        <active>1</active>
                        <message>Debe introducir datos numéricos</message>
                    </number>
                </validate>
                <conditional_display>
                    <relation>AND</relation>
                    <custom></custom>
                </conditional_display>
                <disabled_by_type>0</disabled_by_type>
            </data>
            <meta_key>wpcf-event_price</meta_key>
            <meta_type>postmeta</meta_type>
            <__types_id>event_price</__types_id>
            <__types_title>Precio</__types_title>
            <hash>f7956c4b19ae715df95787ed50d95af1</hash>
            <checksum>f7956c4b19ae715df95787ed50d95af1</checksum>
        </field>
        <field>
            <id>event_price_conditions</id>
            <name>Condiciones del precio</name>
            <description></description>
            <type>textfield</type>
            <slug>event_price_conditions</slug>
            <data>
                <repetitive>0</repetitive>
                <conditional_display>
                    <relation>AND</relation>
                    <custom></custom>
                </conditional_display>
                <disabled_by_type>0</disabled_by_type>
            </data>
            <meta_key>wpcf-event_price_conditions</meta_key>
            <meta_type>postmeta</meta_type>
            <__types_id>event_price_conditions</__types_id>
            <__types_title>Condiciones del precio</__types_title>
            <hash>cf6c1133eff4726c8c694dc150fa3c44</hash>
            <checksum>cf6c1133eff4726c8c694dc150fa3c44</checksum>
        </field>
        <field>
            <id>event_place_name</id>
            <name>Nombre del lugar</name>
            <description></description>
            <type>textfield</type>
            <slug>event_place_name</slug>
            <data>
                <repetitive>0</repetitive>
                <validate>
                    <required>
                        <active>1</active>
                        <value>true</value>
                        <message>Este campo es obligatorio</message>
                    </required>
                </validate>
                <conditional_display>
                    <relation>AND</relation>
                    <custom></custom>
                </conditional_display>
                <disabled_by_type>0</disabled_by_type>
            </data>
            <meta_key>wpcf-event_place_name</meta_key>
            <meta_type>postmeta</meta_type>
            <__types_id>event_place_name</__types_id>
            <__types_title>Nombre del lugar</__types_title>
            <hash>81790977a10140682cb6933ee8e41d7f</hash>
            <checksum>81790977a10140682cb6933ee8e41d7f</checksum>
        </field>
        <field>
            <id>event_place_address</id>
            <name>Dirección del lugar</name>
            <description></description>
            <type>textfield</type>
            <slug>event_place_address</slug>
            <data>
                <repetitive>0</repetitive>
                <conditional_display>
                    <relation>AND</relation>
                    <custom></custom>
                </conditional_display>
                <disabled_by_type>0</disabled_by_type>
            </data>
            <meta_key>wpcf-event_place_address</meta_key>
            <meta_type>postmeta</meta_type>
            <__types_id>event_place_address</__types_id>
            <__types_title>Dirección del lugar</__types_title>
            <hash>69855ab7fd1a32d299f01a0c57a9f259</hash>
            <checksum>69855ab7fd1a32d299f01a0c57a9f259</checksum>
        </field>
        <field>
            <id>event_flyer_back</id>
            <name>Back flyer</name>
            <description></description>
            <type>image</type>
            <slug>event_flyer_back</slug>
            <data>
                <repetitive>0</repetitive>
                <conditional_display>
                    <relation>AND</relation>
                    <custom></custom>
                </conditional_display>
                <disabled_by_type>0</disabled_by_type>
            </data>
            <meta_key>wpcf-event_flyer_back</meta_key>
            <meta_type>postmeta</meta_type>
            <__types_id>event_flyer_back</__types_id>
            <__types_title>Back flyer</__types_title>
            <hash>62551da83f61b187054ef082c7f07fc9</hash>
            <checksum>62551da83f61b187054ef082c7f07fc9</checksum>
        </field>
        <field>
            <id>event_type</id>
            <name>Tipo de evento</name>
            <description></description>
            <type>select</type>
            <slug>event_type</slug>
            <data>
                <options>
                    <wpcf-fields-select-option-7a868ba22adb0012877ee6dcbdc1cbc4-2>
                        <title>Fiesta / Evento</title>
                        <value>party</value>
                    </wpcf-fields-select-option-7a868ba22adb0012877ee6dcbdc1cbc4-2>
                    <wpcf-fields-select-option-28b09c28d6b78bcf9ce457c360ba5dc1-1>
                        <title>Festival</title>
                        <value>festival</value>
                    </wpcf-fields-select-option-28b09c28d6b78bcf9ce457c360ba5dc1-1>
                    <default>wpcf-fields-select-option-7a868ba22adb0012877ee6dcbdc1cbc4-2</default>
                </options>
                <validate>
                    <required>
                        <active>1</active>
                        <value>true</value>
                        <message>Este campo es obligatorio</message>
                    </required>
                </validate>
                <conditional_display>
                    <relation>AND</relation>
                    <custom></custom>
                </conditional_display>
                <disabled_by_type>0</disabled_by_type>
            </data>
            <meta_key>wpcf-event_type</meta_key>
            <meta_type>postmeta</meta_type>
            <__types_id>event_type</__types_id>
            <__types_title>Tipo de evento</__types_title>
            <hash>916dcc4177822f39846c187ac3f03c80</hash>
            <checksum>916dcc4177822f39846c187ac3f03c80</checksum>
        </field>
        <field>
            <id>event_promoter</id>
            <name>Promotor</name>
            <description></description>
            <type>textfield</type>
            <slug>event_promoter</slug>
            <data>
                <repetitive>0</repetitive>
                <conditional_display>
                    <relation>AND</relation>
                    <custom></custom>
                </conditional_display>
                <disabled_by_type>0</disabled_by_type>
            </data>
            <meta_key>wpcf-event_promoter</meta_key>
            <meta_type>postmeta</meta_type>
            <__types_id>event_promoter</__types_id>
            <__types_title>Promotor</__types_title>
            <hash>633ca7a503a4b6a6ec6c099c09a7cb98</hash>
            <checksum>633ca7a503a4b6a6ec6c099c09a7cb98</checksum>
        </field>
        <field>
            <id>event_email_confirmation</id>
            <name>email confirmación</name>
            <description></description>
            <type>email</type>
            <slug>event_email_confirmation</slug>
            <data>
                <repetitive>0</repetitive>
                <conditional_display>
                    <relation>AND</relation>
                    <custom></custom>
                </conditional_display>
                <disabled_by_type>0</disabled_by_type>
            </data>
            <meta_key>wpcf-event_email_confirmation</meta_key>
            <meta_type>postmeta</meta_type>
            <__types_id>event_email_confirmation</__types_id>
            <__types_title>email confirmación</__types_title>
            <hash>f1395c61fb1ff40fe259ad2249d783d6</hash>
            <checksum>f1395c61fb1ff40fe259ad2249d783d6</checksum>
        </field>
        <field>
            <id>event_rrpp</id>
            <name>Lista gratis (RR.PP.)</name>
            <description></description>
            <type>textfield</type>
            <slug>event_rrpp</slug>
            <data>
                <repetitive>0</repetitive>
                <conditional_display>
                    <relation>AND</relation>
                    <custom></custom>
                </conditional_display>
                <disabled_by_type>0</disabled_by_type>
            </data>
            <meta_key>wpcf-event_rrpp</meta_key>
            <meta_type>postmeta</meta_type>
            <__types_id>event_rrpp</__types_id>
            <__types_title>Lista gratis (RR.PP.)</__types_title>
            <hash>b799dc34f20c1344eb457f1afaeaa08c</hash>
            <checksum>b799dc34f20c1344eb457f1afaeaa08c</checksum>
        </field>
        <field>
            <id>event_displayed</id>
            <name>Evento destacado</name>
            <description></description>
            <type>checkbox</type>
            <slug>event_displayed</slug>
            <data>
                <set_value>1</set_value>
                <save_empty>no</save_empty>
                <display>db</display>
                <display_value_not_selected></display_value_not_selected>
                <display_value_selected></display_value_selected>
                <is_new>1</is_new>
                <conditional_display>
                    <relation>AND</relation>
                    <custom></custom>
                </conditional_display>
                <disabled_by_type>0</disabled_by_type>
            </data>
            <meta_key>wpcf-event_displayed</meta_key>
            <meta_type>postmeta</meta_type>
            <__types_id>event_displayed</__types_id>
            <__types_title>Evento destacado</__types_title>
            <hash>ffedc1a96a2b37a3d75b41feab1b7449</hash>
            <checksum>ffedc1a96a2b37a3d75b41feab1b7449</checksum>
        </field>
    </fields>
    <types>
        <type>
            <labels>
                <name>Music items</name>
                <singular_name>Music item</singular_name>
                <add_new>Add New</add_new>
                <add_new_item>Add New %s</add_new_item>
                <edit_item>Edit %s</edit_item>
                <new_item>New %s</new_item>
                <view_item>View %s</view_item>
                <search_items>Search %s</search_items>
                <not_found>No %s found</not_found>
                <not_found_in_trash>No %s found in Trash</not_found_in_trash>
                <parent_item_colon>Parent %s</parent_item_colon>
                <all_items>%s</all_items>
            </labels>
            <slug>music</slug>
            <description>Music items related to night life (dj, podcasts &amp; reviews)</description>
            <public>public</public>
            <menu_position></menu_position>
            <menu_icon></menu_icon>
            <supports>
                <title>1</title>
                <editor>1</editor>
                <author>1</author>
                <thumbnail>1</thumbnail>
            </supports>
            <rewrite>
                <enabled>1</enabled>
                <custom>normal</custom>
                <slug></slug>
                <with_front>1</with_front>
                <feeds>1</feeds>
                <pages>1</pages>
            </rewrite>
            <has_archive>1</has_archive>
            <show_in_menu>1</show_in_menu>
            <show_in_menu_page></show_in_menu_page>
            <show_ui>1</show_ui>
            <publicly_queryable>1</publicly_queryable>
            <can_export>1</can_export>
            <show_in_nav_menus>1</show_in_nav_menus>
            <query_var_enabled>1</query_var_enabled>
            <query_var></query_var>
            <permalink_epmask>EP_PERMALINK</permalink_epmask>
            <taxonomies>
                <music_type>1</music_type>
            </taxonomies>
            <id>music</id>
            <__types_id>music</__types_id>
            <__types_title>Music items</__types_title>
            <hash>edfa52c12dd07809cc53ebfcfedcefb6</hash>
            <checksum>edfa52c12dd07809cc53ebfcfedcefb6</checksum>
        </type>
        <type>
            <wpcf-post-type>event</wpcf-post-type>
            <labels>
                <name>Events</name>
                <singular_name>Event</singular_name>
                <add_new>Add New</add_new>
                <add_new_item>Add New %s</add_new_item>
                <edit_item>Edit %s</edit_item>
                <new_item>New %s</new_item>
                <view_item>View %s</view_item>
                <search_items>Search %s</search_items>
                <not_found>No %s found</not_found>
                <not_found_in_trash>No %s found in Trash</not_found_in_trash>
                <parent_item_colon>Parent %s</parent_item_colon>
                <all_items>%s</all_items>
            </labels>
            <slug>event</slug>
            <description>Events night life</description>
            <public>public</public>
            <menu_position></menu_position>
            <menu_icon></menu_icon>
            <taxonomies>
                <city>1</city>
            </taxonomies>
            <supports>
                <title>1</title>
                <editor>1</editor>
                <author>1</author>
                <thumbnail>1</thumbnail>
                <custom-fields>1</custom-fields>
            </supports>
            <rewrite>
                <enabled>1</enabled>
                <custom>normal</custom>
                <slug></slug>
                <with_front>1</with_front>
                <feeds>1</feeds>
                <pages>1</pages>
            </rewrite>
            <has_archive>1</has_archive>
            <show_in_menu>1</show_in_menu>
            <show_in_menu_page></show_in_menu_page>
            <show_ui>1</show_ui>
            <publicly_queryable>1</publicly_queryable>
            <can_export>1</can_export>
            <show_in_nav_menus>1</show_in_nav_menus>
            <query_var_enabled>1</query_var_enabled>
            <query_var></query_var>
            <permalink_epmask>EP_PERMALINK</permalink_epmask>
            <id>event</id>
            <__types_id>event</__types_id>
            <__types_title>Events</__types_title>
            <hash>706cdd7bb9b63443ca429db469f78ebc</hash>
            <checksum>706cdd7bb9b63443ca429db469f78ebc</checksum>
        </type>
        <type>
            <labels>
                <name>Artists</name>
                <singular_name>Artist</singular_name>
                <add_new>Add New</add_new>
                <add_new_item>Add New %s</add_new_item>
                <edit_item>Edit %s</edit_item>
                <new_item>New %s</new_item>
                <view_item>View %s</view_item>
                <search_items>Search %s</search_items>
                <not_found>No %s found</not_found>
                <not_found_in_trash>No %s found in Trash</not_found_in_trash>
                <parent_item_colon>Parent %s</parent_item_colon>
                <all_items>%s</all_items>
            </labels>
            <slug>artists</slug>
            <description>Djs</description>
            <public>public</public>
            <menu_position></menu_position>
            <menu_icon></menu_icon>
            <supports>
                <title>1</title>
                <editor>1</editor>
                <thumbnail>1</thumbnail>
            </supports>
            <rewrite>
                <enabled>1</enabled>
                <custom>normal</custom>
                <slug></slug>
                <with_front>1</with_front>
                <feeds>1</feeds>
                <pages>1</pages>
            </rewrite>
            <has_archive>1</has_archive>
            <show_in_menu>1</show_in_menu>
            <show_in_menu_page></show_in_menu_page>
            <show_ui>1</show_ui>
            <publicly_queryable>1</publicly_queryable>
            <can_export>1</can_export>
            <show_in_nav_menus>1</show_in_nav_menus>
            <query_var_enabled>1</query_var_enabled>
            <query_var></query_var>
            <permalink_epmask>EP_PERMALINK</permalink_epmask>
            <id>artists</id>
            <__types_id>artists</__types_id>
            <__types_title>Artists</__types_title>
            <hash>4a3b9adeff4c2a1963fbee91e6f65056</hash>
            <checksum>4a3b9adeff4c2a1963fbee91e6f65056</checksum>
        </type>
        <type>
            <labels>
                <name>Photos</name>
                <singular_name>Photo</singular_name>
                <add_new>Add New</add_new>
                <add_new_item>Add New %s</add_new_item>
                <edit_item>Edit %s</edit_item>
                <new_item>New %s</new_item>
                <view_item>View %s</view_item>
                <search_items>Search %s</search_items>
                <not_found>No %s found</not_found>
                <not_found_in_trash>No %s found in Trash</not_found_in_trash>
                <parent_item_colon>Parent %s</parent_item_colon>
                <all_items>%s</all_items>
            </labels>
            <slug>photo</slug>
            <description>Photo galleries</description>
            <public>public</public>
            <menu_position></menu_position>
            <menu_icon></menu_icon>
            <supports>
                <title>1</title>
                <editor>1</editor>
                <thumbnail>1</thumbnail>
            </supports>
            <rewrite>
                <enabled>1</enabled>
                <custom>normal</custom>
                <slug></slug>
                <with_front>1</with_front>
                <feeds>1</feeds>
                <pages>1</pages>
            </rewrite>
            <has_archive>1</has_archive>
            <show_in_menu>1</show_in_menu>
            <show_in_menu_page></show_in_menu_page>
            <show_ui>1</show_ui>
            <publicly_queryable>1</publicly_queryable>
            <can_export>1</can_export>
            <show_in_nav_menus>1</show_in_nav_menus>
            <query_var_enabled>1</query_var_enabled>
            <query_var></query_var>
            <permalink_epmask>EP_PERMALINK</permalink_epmask>
            <id>photo</id>
            <__types_id>photo</__types_id>
            <__types_title>Photos</__types_title>
            <hash>b1e829d50467cd7478af24eb4d085257</hash>
            <checksum>b1e829d50467cd7478af24eb4d085257</checksum>
        </type>
        <type>
            <labels>
                <name>Videos</name>
                <singular_name>Video</singular_name>
                <add_new>Add New</add_new>
                <add_new_item>Add New %s</add_new_item>
                <edit_item>Edit %s</edit_item>
                <new_item>New %s</new_item>
                <view_item>View %s</view_item>
                <search_items>Search %s</search_items>
                <not_found>No %s found</not_found>
                <not_found_in_trash>No %s found in Trash</not_found_in_trash>
                <parent_item_colon>Parent %s</parent_item_colon>
                <all_items>%s</all_items>
            </labels>
            <slug>video</slug>
            <description>Vídeo galleries</description>
            <public>public</public>
            <menu_position></menu_position>
            <menu_icon></menu_icon>
            <supports>
                <title>1</title>
                <editor>1</editor>
            </supports>
            <rewrite>
                <enabled>1</enabled>
                <custom>normal</custom>
                <slug></slug>
                <with_front>1</with_front>
                <feeds>1</feeds>
                <pages>1</pages>
            </rewrite>
            <has_archive>1</has_archive>
            <show_in_menu>1</show_in_menu>
            <show_in_menu_page></show_in_menu_page>
            <show_ui>1</show_ui>
            <publicly_queryable>1</publicly_queryable>
            <can_export>1</can_export>
            <show_in_nav_menus>1</show_in_nav_menus>
            <query_var_enabled>1</query_var_enabled>
            <query_var></query_var>
            <permalink_epmask>EP_PERMALINK</permalink_epmask>
            <id>video</id>
            <__types_id>video</__types_id>
            <__types_title>Videos</__types_title>
            <hash>053a53e0135bbc77c451b0d57226938e</hash>
            <checksum>053a53e0135bbc77c451b0d57226938e</checksum>
        </type>
        <type>
            <labels>
                <name>Cool places</name>
                <singular_name>Cool place</singular_name>
                <add_new>Add New</add_new>
                <add_new_item>Add New %s</add_new_item>
                <edit_item>Edit %s</edit_item>
                <new_item>New %s</new_item>
                <view_item>View %s</view_item>
                <search_items>Search %s</search_items>
                <not_found>No %s found</not_found>
                <not_found_in_trash>No %s found in Trash</not_found_in_trash>
                <parent_item_colon>Parent %s</parent_item_colon>
                <all_items>%s</all_items>
            </labels>
            <slug>cool_place</slug>
            <description>Cool places to visit</description>
            <public>public</public>
            <menu_position></menu_position>
            <menu_icon></menu_icon>
            <supports>
                <title>1</title>
                <editor>1</editor>
                <thumbnail>1</thumbnail>
            </supports>
            <rewrite>
                <enabled>1</enabled>
                <custom>normal</custom>
                <slug></slug>
                <with_front>1</with_front>
                <feeds>1</feeds>
                <pages>1</pages>
            </rewrite>
            <has_archive>1</has_archive>
            <show_in_menu>1</show_in_menu>
            <show_in_menu_page></show_in_menu_page>
            <show_ui>1</show_ui>
            <publicly_queryable>1</publicly_queryable>
            <can_export>1</can_export>
            <show_in_nav_menus>1</show_in_nav_menus>
            <query_var_enabled>1</query_var_enabled>
            <query_var></query_var>
            <permalink_epmask>EP_PERMALINK</permalink_epmask>
            <taxonomies>
                <cool_place_type>1</cool_place_type>
            </taxonomies>
            <id>cool_place</id>
            <__types_id>cool_place</__types_id>
            <__types_title>Cool places</__types_title>
            <hash>7542b961bbda5a19fc4d05136b77fcfd</hash>
            <checksum>7542b961bbda5a19fc4d05136b77fcfd</checksum>
        </type>
    </types>
    <taxonomies>
        <taxonomy>
            <labels>
                <name>Music types</name>
                <singular_name>Music type</singular_name>
                <search_items>Search %s</search_items>
                <popular_items>Popular %s</popular_items>
                <all_items>All %s</all_items>
                <parent_item>Parent %s</parent_item>
                <parent_item_colon>Parent %s:</parent_item_colon>
                <edit_item>Edit %s</edit_item>
                <update_item>Update %s</update_item>
                <add_new_item>Add New %s</add_new_item>
                <new_item_name>New %s Name</new_item_name>
                <separate_items_with_commas>Separate %s with commas</separate_items_with_commas>
                <add_or_remove_items>Add or remove %s</add_or_remove_items>
                <choose_from_most_used>Choose from the most used %s</choose_from_most_used>
                <menu_name>%s</menu_name>
            </labels>
            <slug>music_type</slug>
            <description>djs, entrevistas, podcasts, reviews</description>
            <public>public</public>
            <supports>
                <music>1</music>
            </supports>
            <hierarchical>flat</hierarchical>
            <rewrite>
                <enabled>1</enabled>
                <slug></slug>
                <with_front>1</with_front>
                <hierarchical>1</hierarchical>
            </rewrite>
            <show_ui>1</show_ui>
            <show_in_nav_menus>1</show_in_nav_menus>
            <show_tagcloud>1</show_tagcloud>
            <show_admin_column>1</show_admin_column>
            <query_var_enabled>1</query_var_enabled>
            <query_var></query_var>
            <update_count_callback></update_count_callback>
            <id>music_type</id>
            <__types_id>music_type</__types_id>
            <__types_title>Music types</__types_title>
            <checksum>f784b0b2d6b5b3ac7e375d96981752e9</checksum>
        </taxonomy>
        <taxonomy>
            <wpcf-tax>city</wpcf-tax>
            <labels>
                <name>Cities</name>
                <singular_name>City</singular_name>
                <search_items>Search %s</search_items>
                <popular_items>Popular %s</popular_items>
                <all_items>All %s</all_items>
                <parent_item>Parent %s</parent_item>
                <parent_item_colon>Parent %s:</parent_item_colon>
                <edit_item>Edit %s</edit_item>
                <update_item>Update %s</update_item>
                <add_new_item>Add New %s</add_new_item>
                <new_item_name>New %s Name</new_item_name>
                <separate_items_with_commas>Separate %s with commas</separate_items_with_commas>
                <add_or_remove_items>Add or remove %s</add_or_remove_items>
                <choose_from_most_used>Choose from the most used %s</choose_from_most_used>
                <menu_name>%s</menu_name>
            </labels>
            <slug>city</slug>
            <description>City</description>
            <public>public</public>
            <supports>
                <event>1</event>
            </supports>
            <hierarchical>hierarchical</hierarchical>
            <rewrite>
                <enabled>1</enabled>
                <slug></slug>
                <with_front>1</with_front>
                <hierarchical>1</hierarchical>
            </rewrite>
            <show_ui>1</show_ui>
            <show_in_nav_menus>1</show_in_nav_menus>
            <show_tagcloud>1</show_tagcloud>
            <query_var_enabled>1</query_var_enabled>
            <query_var></query_var>
            <update_count_callback></update_count_callback>
            <id>city</id>
            <__types_id>city</__types_id>
            <__types_title>Cities</__types_title>
            <checksum>fbca0e175ef37a88bbc55bef9a61169e</checksum>
        </taxonomy>
        <taxonomy>
            <labels>
                <name>Cool place types</name>
                <singular_name>Cool place type</singular_name>
                <search_items>Search %s</search_items>
                <popular_items>Popular %s</popular_items>
                <all_items>All %s</all_items>
                <parent_item>Parent %s</parent_item>
                <parent_item_colon>Parent %s:</parent_item_colon>
                <edit_item>Edit %s</edit_item>
                <update_item>Update %s</update_item>
                <add_new_item>Add New %s</add_new_item>
                <new_item_name>New %s Name</new_item_name>
                <separate_items_with_commas>Separate %s with commas</separate_items_with_commas>
                <add_or_remove_items>Add or remove %s</add_or_remove_items>
                <choose_from_most_used>Choose from the most used %s</choose_from_most_used>
                <menu_name>%s</menu_name>
            </labels>
            <slug>cool_place_type</slug>
            <description>Tipos de lugares(clubes, bares, restaurantes)</description>
            <public>public</public>
            <supports>
                <cool_place>1</cool_place>
            </supports>
            <hierarchical>flat</hierarchical>
            <rewrite>
                <enabled>1</enabled>
                <slug></slug>
                <with_front>1</with_front>
                <hierarchical>1</hierarchical>
            </rewrite>
            <show_ui>1</show_ui>
            <show_in_nav_menus>1</show_in_nav_menus>
            <show_tagcloud>1</show_tagcloud>
            <query_var_enabled>1</query_var_enabled>
            <query_var></query_var>
            <update_count_callback></update_count_callback>
            <id>cool_place_type</id>
            <__types_id>cool_place_type</__types_id>
            <__types_title>Cool place types</__types_title>
            <checksum>da36ff228c4004610718f28c58682310</checksum>
        </taxonomy>
    </taxonomies>
</types>